<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="godot-dotnet" value="/nix/store/5q33h03sxxl7m7qfjkj1zzsqq6bz5a7k-godot-dotnet-4.4/share" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
